@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=The+Nautigal:wght@400;700&display=swap&display=swap');


*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    height: auto;
}

body{   
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.container{   
    width: 65%;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
}

.color-7a3b2e{
    color: #7a3b2e;
}

.right-border{
    border-right: #7a3b2e 2px solid;
}

.bottom-border{
    border-bottom: #7a3b2e 2px solid;
}

.bottom-border-d{
    border-bottom: #7a3b2e 3px dotted;
}

.section-title{
    font-size: 2.8em;
    text-align: center;
    color:#7a3b2e;
}

.col-2{
    display: inline-block;
    width: calc(50%);
}
.padding-65{
    padding-bottom: 65px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*----------------------------------------------------------------------------------------------------------------------*/

#main-header{
    background-color: #454140;
    position:fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
}

.logo{
    text-decoration: none;
    padding: 5px;
    margin-left: 30px;
    text-align: center;
    font-weight: 600;
    color: #bd5734;
    font-size: 40px;
    font-family: 'The Nautigal', cursive;
    text-shadow: 1px 3px #7a3b2e;
    transition: color 0.3s;
}

.logo:hover{
    color: #a79e84;
    
}

.main-nav{
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    width: calc(100% - 240px);
    text-align: right;
}

.main-nav-items{
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}

.main-nav-item{
    display: inline-block;
    padding: 0 6px;
}

.main-nav-item-link{
    text-decoration: none;
    color:#a79e84 ;
    transition: color 0.3s;
}

.main-nav-item-link:hover{
    color: #7a3b2e;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
.scroll-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

.scroll-btn a{
    text-decoration: none;
    color: #7a3b2e;
    font-size: 25px;
    transition: color 0.3s;
}
.scroll-btn a:hover{
    color:#bd5734;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#my-links{
    margin-top: 65px ;
}

.links{
    padding-top: 35px;
    background-color:#dbceb0;
    height: 700px;
    float: left;
    text-align: center;
}

.links-table{
    width: 70%;
    margin: 20px auto;
    font-size: 1.3em;
}
.links-table table{
    margin: 0px auto;
}
.links-table tr{
    width: 100%;
}
.links-table td{
    padding: 20px 30px;
    text-align: center;
}

.links-table-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 2.5em;
}

.links-table a{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    transition: color 0.3s;
    transition: font-weight .4s ease-in-out
}
.links-table a:hover{
    color: #7a3b2e;
    font-weight: 700;
}

.link-born{
    font-size: 1em;
    padding-bottom: 20px;
    font-weight: 400;
    width: 60%;
    margin: 15px auto;
    padding: 15px 0;
}

.links-table i{
    color: #bd5734;
}


.my-links-photo{
    float: left;
    background-image: url("../img/about.jpg");
    background-position: left;
    background-size: cover;
    height: 700px;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
#about{
    margin-bottom: 50px;
}

.about-text{   
    color: #3b3a30;
    padding:10px 60px;
    text-align: center;
}

.about-text p{  
    padding-top: 10px;
    font-size: 19px;
}


/*--------------------------------------------------------------------------------------------------------------------------*/


#projects{
    height: auto;
    /* background-color: #a79e84; */
    margin-bottom: 60px;
    text-align: center;
    
    background-image: url("../img/projects-bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}

.projects-title{
    padding-top: 40px;
}


.project-title{
    font-size: 19px;
    /* color:#3b3a30; */
    color: whitesmoke;
}

.project-title a{
    text-decoration: none;
    color:#bd5734;
    transition: color 0.3s;
}

.project-title a:hover{
    color: #7a3b2e;
}

.project-about h3{
    margin-top: 50px;
    
}

.project-about p{
    padding:10px 60px;
    font-size: 19px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

#education-experience{
    font-family: 'Noto Serif', serif;
}


.education-experience-features td{  
    width: 50%;
    text-align: center;
    padding: 20px ;
}
.education-experience-features{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 80px;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#extras{
    color: #3b3a30;
    font-family: 'Roboto Mono', monospace;
    background-color:#dbceb0;
    height: auto;
    color: #686256;
}

.extras-title{
    padding-top: 40px;
}

.extras-lists{
    padding-bottom: 50px;
}


.col-3{
    display: inline-block;
    width: calc(100%/3);
    margin:20px auto;
    vertical-align: top;
    text-align: center;
}

.col-3 table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.col-3 td{
    padding: 10px 21px;
}

.col-3 h3,.extras-row h3{
    color:#7a3b2e;
    font-size: 25px;
}

.table-bold{
    font-weight: 900;
}

.table-hobies td{
    text-align: center;
}

.extras-row{
    padding-top: 50px;
    text-align: center;
}

.extras-row p{
    font-size: 16px;
    font-weight: 500;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.main-footer{
    background-color:#686256;
    height: 80px;
    text-align: center;
    margin-bottom: -5px;
}

.main-footer ul{
    padding: 20px 0;
    font-size: 25px;
    margin: 0 auto;
    list-style-type: none;
}
.main-footer li{
    display: inline-block;
    padding: 0 10px;
}

.main-footer li a{
    text-decoration: none;
    color: #bd5734;
    transition: color 0.3s;
}

.main-footer li a:hover{
    color:#dbceb0
}

.footer-end{
    margin-top: 0;
    margin-bottom: 0;
    background-color:#454140;
    height: 45px;
    text-align: center;

}

.footer-end p{
    margin-top: 0;
    padding: 10px 0;
    color:#dbceb0;
}




















































