@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");

:root{
    --dark:#0D0D0D;
    --dark-gray:#262626;
    --gray:#595959;
    --light-gray:#A6A6A6;
    --light:#F2F2F2;
    --white:#fff;
    --warning:#F2CB05;
    --danger:#F20519;
    --info:#8CE0FF;
    --success:#75A60D;
    --primary:#146CFD;
    --secondary:#729CA6;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
    height: auto;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 1rem 0;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.section-title{
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5rem;
    color: var(--dark-gray);
    text-shadow: 2px 5px 5px var(--secondary);
}


/* header */

.header{
    background-color: var(--dark);
    height: 10vh;
    opacity: 0.85;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding-top:1rem ;   
    position: relative;
}

.navbar h1{
    font-size: 2rem;
    color: var(--light);
}

.navbar h1 i{
    color: var(--warning);
}

.navbar h1 a{
    color: var(--danger);
    font-weight: 500;
    transition: color .2s linear;
}
.navbar h1 a:hover{
    color:var(--primary);
}

.navbar ul{
    display: flex;
    
}

.navbar li a{
    display: block;
    padding: 1rem;             
    font-size: 1.7rem;
    color: var(--light);
    transition: all .2s linear;
}

.navbar li a:hover{
    color: var(--danger);
    border-bottom: 2px solid var(--warning);
}

.navbar .main-nav-copyright{
    display: none;
    color: var(--light);
    text-align: center;
}

.navbar .bars{
    position: absolute;
    top: 23px;
    left: 7px;
    display: none;
    z-index: 5;
}
.navbar .bars a{
    color: var(--light);
    font-size: 2.5rem;
}

/* links */

.links{
    background-image: url("../img/about.jpeg");
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}

.my-links{
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

.my-links h2{
    color: var(--light);
    font-size: 4rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 4px 3px var(--danger);
}
.my-links h3{
    color:var(--light);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-shadow: 1px 2px 3px var(--dark);
}

.my-links td{
    padding: 1.5rem;
}

.my-links i{
    color: var(--warning);
}

.my-links a{
    color: var(--light);
    font-weight: 400;
    transition: all .2s linear;
}
.my-links a:hover{
    color: var(--info);
}

/* about */

.about{
    margin: 5rem 0;
}

.about p{
    text-align: center;
    font-size: 1.8rem;
}


/* projects */

.projects{
    background-image: url("../img/projects-bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.projects-title{
    color: var(--white);
    padding: 5rem 0 3rem 0;
    text-shadow: 2px 5px 5px var(--success);
}

.project-cards{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;    
}

.project-card{
    background-color: var(--white);
    border-radius: 0.5rem;
    color: #333;
    flex: 45%;
    padding: 4rem;
    height: 23rem;
}
.project-card a{
    color: var(--danger);
    transition: all .2s linear;
}
.project-card a:hover{
    color: var(--primary);
}


/* Education & Experience */

.education{
    margin: 5rem 0;
}

.education .education-title:nth-child(2){
    display: none;
}
.education-lists{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    text-align: center;
    padding: 3rem;
}
.info-border{
    border-right: 2px solid var(--secondary);
}

.info span{
    color: var(--secondary);
}

/* extras */

.extras{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), url("../img/extras4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 5rem;
}

.extras h2{
    color: var(--white);
    text-shadow: 2px 5px 5px var(--dark);
}

.extras-parts{
    display: flex;   
}

.part{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part h3{
    text-align: center;
    font-size: 2rem;
    padding-bottom:4rem ;
    color: var(--white);
    text-shadow: 2px 5px 5px var(--dark-gray);
}

.part td{
    padding: 0 2rem;
    color: var(--light);
}

.part:last-child{
    text-align: center;
}


/* footer */

.footer{
    height: 100px;
    background-color: var(--dark-gray);
}
.social-icons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 60%;   
}
.social-icons a{
    color: var(--warning);
    display: block;
    padding: 0 1rem;
    transition: all .2s linear;
}
.social-icons a:hover{
    color: var(--primary);
}
.footer-shoes{
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* telefon */
@media(max-width:575px){
    html{
        font-size: 8px;
    }
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .section-title{
        text-shadow: none;
        margin-bottom: 3rem;
    }

    /* header */

    .navbar{   
        padding-left: 10px;
        padding-top: 30px;
        flex-direction: column;
    }
    .navbar li a{
        display: none;
    }
    .navbar .bars{
        display: block;
    }
    .responsive .bars i{
        color: var(--primary);
    }
    .responsive .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        background-color: var(--dark);
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .responsive ul{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 10px;
    }
    .responsive li a{
        display: block;
    }
    .responsive .main-nav-copyright{
        display: block;
        padding-bottom: 40px;
    }

    /* links */

    .my-links{
        flex: 100%;
        margin-left: 0;
        background: rgba(0, 0, 0, 0.1);
    }
    
    /*about*/

    .about{
        margin: 3rem 0;
    }


    /* projects */

    .projects{
        height: auto;
    }
    .project-cards{
        padding-bottom: 40px;
        
    }
    .project-card{
        flex:100%;
        height: auto;
    }
    .project-card p{
        padding-bottom: 10px;
    }
    
    /* Education & Experience */

    .info{
        padding: 0 3rem;
    }
    .info-border{
        border: none;
    }
    .education-lists{
        grid-template-columns: 1fr;
    }
    .education .education-title:nth-child(1){
        display: none;
    }
    .education .education-title:nth-child(2){
        display: block;
    }
    .info:nth-child(3){
        grid-row-start: 4;
    }
    .info:nth-child(2),.info:nth-child(3){
        padding: 1rem 0 3rem 0;
        border-bottom: 1px dotted var(--secondary);
    }
    .info:nth-child(6){
        padding: 1rem 0 3rem 0;
    }
    .info:nth-child(4),.info:nth-child(5){
        padding: 3rem 0 0 0;
    }
    
    /* extras */

    .extras{
        height: 650px;
    }
    .extras-parts{
        flex-direction: column;
        padding: 0;
    }      
    .part{
        width: 80%;
        margin: 0 auto;
        flex: 100%;
        padding-bottom: 20px;
    }   
    .part h3{
        margin-top: 20px;
        padding-bottom: 15px;
    }

    /* footer */
}

/* landscape - yan kullanmıs telefon */
@media (min-width: 576px) and (max-width:991px){
    html{
        font-size: 8px;
    }
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .section-title{
        text-shadow: none;
        margin-bottom: 3rem;
    }

    /* header */

    .header{
        height: 80px;
    }
    .navbar{   
        padding-left: 10px;
        padding-top: 30px;
        flex-direction: column;
    }
    .navbar li a{
        display: none;
    }
    .navbar .bars{
        display: block;
    }
    .responsive .bars i{
        color: var(--primary);
    }
    .responsive .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        background-color: var(--dark);
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .responsive ul{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 10px;
    }
    .responsive li a{
        display: block;
    }
    .responsive .main-nav-copyright{
        display: block;
        padding-bottom: 40px;
    }

    /* links */
    /* .links{
        height: 500px;
    } */
    .my-links{
        justify-content: flex-end;
        padding-bottom: 1.5rem;
    }
    .my-links h2{
        font-size: 2rem;
    }
    .my-links h3{
        font-size: 1.5rem;
    }
    .my-links td{
        padding: 0.5rem 1rem;
    }
    
    /*about*/

    .about{
        margin: 3rem 0;
    }


    /* projects */

    .projects{
        height: auto;
    }
    .project-cards{
        padding-bottom: 40px;
        
    }
    .project-card{
        flex:100%;
        height: auto;
    }
    .project-card p{
        padding-bottom: 10px;
    }
    
    /* Education & Experience */

    .info{
        padding: 0 3rem;
    }
    .info-border{
        border: none;
    }
    .education-lists{
        grid-template-columns: 1fr;
    }
    .info:nth-child(3){
        grid-row-start: 4;
    }
    .info:nth-child(2),.info:nth-child(3){
        padding: 1rem 0 3rem 0;
        border-bottom: 1px dotted var(--secondary);
    }
    .info:nth-child(6){
        padding: 1rem 0 3rem 0;
    }
    .info:nth-child(4),.info:nth-child(5){
        padding: 3rem 0 0 0;
    }
    
    /* extras */

    .extras{
        height: 650px;
    }
    .extras-parts{
        flex-direction: column;
        padding: 0;
    }      
    .part{
        width: 80%;
        margin: 0 auto;
        flex: 100%;
        padding-bottom: 20px;
    }   
    .part h3{
        margin-top: 20px;
        padding-bottom: 15px;
    }

    /* footer */
}

/* tablet */
@media (min-width: 768px) and (max-width:991px){
    html{
        font-size: 10px;
    }
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .section-title{
        text-shadow: none;
        margin-bottom: 3rem;
    }

    /* header */

    .header{
        height: 80px;
    }
    .navbar{   
        padding-left: 10px;
        padding-top: 30px;
        flex-direction: column;
    }
    .navbar li a{
        display: none;
    }
    .navbar .bars{
        display: block;
    }
    .responsive .bars i{
        color: var(--primary);
    }
    .responsive .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--dark);
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .responsive ul{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 10px;
    }
    .responsive li a{
        display: block;
    }
    .responsive .main-nav-copyright{
        display: block;
        padding-bottom: 40px;
    }

    /* links */
    /* .links{
        height: 500px;
    } */
    .my-links{
        justify-content: center;
    }
    .my-links h2{
        font-size: 2rem;
    }
    .my-links h3{
        font-size: 1.5rem;
    }
    .my-links td{
        padding: 0.5rem 1rem;
    }
    
    /*about*/

    .about{
        margin: 3rem 0;
    }


    /* projects */

    .projects{
        height: auto;
    }
    .project-cards{
        padding-bottom: 50px;
        
    }
    .project-card{
        flex:45%;
        height: 300px;
    }
    .project-card p{
        padding-bottom: 10px;
    }
    
    /* Education & Experience */

    .info{
        padding: 0 3rem;
    }
    .info-border{
        border: none;
    }
    .education-lists{
        grid-template-columns: 1fr;
    }
    .info:nth-child(3){
        grid-row-start: 4;
    }
    .info:nth-child(2),.info:nth-child(3){
        padding: 1rem 0 3rem 0;
        border-bottom: 1px dotted var(--secondary);
    }
    .info:nth-child(6){
        padding: 1rem 0 3rem 0;
    }
    .info:nth-child(4),.info:nth-child(5){
        padding: 3rem 0 0 0;
    }
    
    /* extras */

    .extras{
        height: 720px;
    }
    .extras-parts{
        flex-direction: column;
        padding: 0;
    }      
    .part{
        width: 80%;
        margin: 0 auto;
        flex: 100%;
        padding-bottom: 20px;
    }   
    .part h3{
        margin-top: 20px;
        padding-bottom: 15px;
    }

    /* footer */
}

/* desktop - normal ekran */
@media (min-width: 992px) and (max-width:1199px){
    html{
        font-size: 10px;
    }
    .container{
        width: 90%;
        padding: 0 20px;
    }
    .navbar{
        padding-top: 20px;
    }
    
}

/* large desktop */
@media (min-width: 1200px) and (max-width:1399px){
    html{
        font-size: 11px;
    }
    .navbar{
        padding-top: 15px;
    }
    .projects{
        height: auto;
    }
    .project-cards{
        padding-bottom: 50px;
    }
    .project-card{
        height: 350px;
    }
}

/* xlarge desktop */
@media (min-width: 1400px){
    html{
        font-size: 12px;
    }
    .navbar{
        padding-top: 20px;
    }
    .projects{
        height: auto;
    }
    .project-cards{
        padding-bottom: 50px;
    }
    .project-card{
        height: 350px;
    }
    
}
